/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/*********************** Bouton filtres ****************/

.filters {
	display: flex;
	justify-content: center;
	margin: 3em 0;
}

.filters button {
	font-size: 1.2em;
	margin-right: 10px;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	border: solid 1px #1D6154;
	border-radius: 60px;
	background-color: white;
	padding: 8px 16px;
	cursor: pointer;
}

.filters button:hover,
.filters .active {
	background-color: #1D6154;
	color: white;
}

/******************** Login ************************/


nav li a {
	text-decoration: none;
	color: black;
}

#error {
	color: red;
	margin-top: 10px;

}

.login_page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 70vh;

}

.login_page form {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.login_page label {
	align-self: flex-start;
	padding-left: 10px;
	margin-top: 30px;
}

.login_page input {
	margin: 10px;
	width: 380px;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;

}

#connecter {
	width: 180px;
	height: 36px;
}

.login_page h2 {
	text-align: center;
}

.login_page a {
	padding: 0;
	color: black;
}


/*******************************Admin Mode*********************************/


.hidden {
	display: none;
}

.edit {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 100%;
	height: 50px;
	color: white;
}


.edit_mod {
	margin-top: 70px;
}

.edit i {
	color: white;
	margin-right: 10px;
}

.link_modify {
	font-size: small;
	margin-left: 20px;
	cursor: pointer;
	color: black;
}

/********************************Modale*********************************/

.modale {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 900;
}

.activeModale {
	position: relative;
	width: 600px;
	height: 630px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.close {
	position: absolute;
	top: 25px;
	right: 30px;
	cursor: pointer;
	font-size: 15px;
}

.back {
	position: absolute;
	top: 25px;
	left: 30px;
	cursor: pointer;
	font-size: 21px;
}

.titleModale {
	font-family: 'Work Sans';
	color: black;
	font-weight: 400;
	font-size: 26px;
	position: absolute;
	top: 50px;
}

.galleryImg {
	display: flex;
	margin: 0px 80px;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	border-bottom: #B3B3B3 solid 1px;
	padding-bottom: 50px;
}

.galleryImg figure {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
}

.modaleImg {
	width: 75px;
	height: 100px;
}

.trash {
	position: absolute;
	width: 15px;
	height: 15px;
	font-size: 9px;
	top: 3px;
	right: 3px;
	z-index: 2;
	cursor: pointer;
	border-radius: 2px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.crossLine {
	width: 50vh;
	height: 1px;
	background-color: #B3B3B3;
	margin-top: 40px;

}

.formWorks {
	font-family: 'Syne';
	border: none;
	color: white;
	background-color: #1D6154;
	width: 230px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	position: absolute;
	bottom: 40px;
}

/************************Modale form**********************/

.picture {
	position: absolute;
	top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50vh;
	height: 12em;
	background-color: #E8F1F6;
	border-radius: 10px;
}

.picture i {
	margin: 20px 0 10px 0;
	font-size: 70px;
	color: #B9C5CC;
}

.picture button {
	width: 170px;
	height: 36px;
	background-color: #CBD6DC;
	color: #306685;
	font-weight: 500;
	border-radius: 60px;
	border: none;
	cursor: pointer;
	margin-bottom: 10px;
}

.picture p {
	font-size: 10px;
}

.picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.addWorks {
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-direction: column;
}

.addWorks label {
	margin: 20px 0 5px 0;
}

.addWorks #name,
.addWorks select {
	margin-top: 10px;
	width: 50vh;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

.error {
	color: red;
	text-align: center;
	margin-top: 10px;
}

#valider {
	height: 30px;
	width: 25vh;
	background-color: #A7A7A7;
	border: none;
}

/*************************************************/


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}